@media screen and (max-width: 768px) {

    .mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .desktop {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .android {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container-fluid {
        background-image: url('images/bg-header-mobile.png');
        text-align: center;
        background-repeat: no-repeat;
        width: 100%;
        background-color: transparent !important;
    }

    .icone {
        width: 20px;
    }

    #partenaires {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .marque {
        color: hsl(221, 11%, 66%);
        margin: 40px 40px 40px 40px;
    }


}