/* Pour les petits écrans (sm) */
@media (max-width: 576px) {
    .mobile, .desktop, .partenaires {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    
    .marque {
        color: hsl(221, 11%, 66%);
        margin: 20px;
    }
}

/* Pour les écrans moyens (md) */
@media (min-width: 577px) and (max-width: 768px) {
    .mobile, .desktop, .partenaires {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

   
    .marque {
        color: hsl(221, 11%, 66%);
        margin: 30px;
    }
}

/* Pour les grands écrans (lg) */
@media (min-width: 769px) {
    .mobile, .desktop, .partenaires {
        display: flex;
        flex-direction: row;
        text-align: left;
        width: auto;
    }

      
    .marque {
        color: hsl(221, 11%, 66%);
        margin: 40px;
    }
}